.advantages {
  //
}

.advantages__wrapper {
  //
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  //
}

.advantages__item--nutrients {
  //
}

.advantages__item--powder {
  //
}

.advantages__item--substitute {
  //
}

.advantages__item--pleasure {
  //
}

.advantages__description {
  font-family: $secondary-font;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
