.intro {
  background: url("../../images/cat-background-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: top center;
  display: grid;
}

@media (min-width: $tablet-width) {
  .intro {
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: url("../../images/cat-background-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: top center;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.intro__wrapper {
  background: rgba(104, 183, 56, 0.85);
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    background: rgba(104, 183, 56, 0.85);
  }
}

.intro__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.intro__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.intro__link {
  //
}
