.main-nav {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
