.product-all {
  //
}

.product-all__image {
  //
}

.product-all__title {
  font-family: $primary-font;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-all__text {
  font-family: $secondary-font;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.product-all__button {
  //
}
